body {
	margin: 0;
	padding: 0;
	--gray: #a4a4a4;
}
/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

html,body,.app,#root{
	height:100%;
	font-family: 'Roboto';
}